/target/
.idea/
.vscode/
.settings
.project
.classpath

*.iml
.DS_Store

# The following files are generated/updated by vaadin-maven-plugin
node_modules/
src/main/frontend/generated/
vite.generated.ts

# Local database dumps
src/main/resources/data.sql
src/main/resources/db.sql
